
#添加thymeleaf配置
spring:
  thymeleaf:
    cache: false
    servlet:
      content-type: text/html
    enabled: true
    encoding: utf-8
    mode: HTML
    prefix: classpath:/templates/
    suffix: .html
  datasource:
    username: root
    password: 1234!@#$qwerQWER
    url: jdbc:mysql://119.29.115.175:3306/test?useSSL=false
    driver-class-name: com.mysql.jdbc.Driver
  redis:
    host: 119.29.115.175
    port: 6379
    password: foobared
    jedis:
      pool:
        max-idle: 100
        max-active: 100
        max-wait: 1000
    timeout: 5000 #先这样配虽然报错，但是能用
  resources:
    static-locations: classpath:/static/
#rabbitmq
  rabbitmq:
    host: 119.29.115.175
    port: 5672
    username: admin
    password: admin
    virtual-host: /    #可以虚拟出许多个服务
    listener:
      simple:
        concurrency: 10  #消费者的数量
        max-concurrency: 10
        prefetch: 1  #每次从队列取个数
        auto-startup: true #默认消费者自动启动
        default-requeue-rejected: true #消费失败数据重新加入到队列中来
    template:
      retry:
        enabled: true
        initial-interval: 1000
        max-attempts: 3
        max-interval: 1000
        multiplier: 1.0

#mybatis
mybatis:
  type-aliases-package: com.walle.springdemo.bean
  configuration:
    map-underscore-to-camel-case: true
    default-fetch-size: 100
    default-statement-timeout: 3000
    config-locations: classpath:mybatis/mybatis-config.xml
    mapperLocations: classpath:mapper/*.xml
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl



