<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<script>
    var xx = document.getElementById("message1");
    console.log(xx);
    // for (var i = 0; i < 10000; i++) {
    //     console.log(i);
    // }
</script>
<body>

<div id="message1">xxxxxx</div>
<div id="message2">xxxxxx</div>
<div id="message3">xxxxxx</div>
<div id="message4">xxxxxx</div>
<div id="message5">xxxxxx</div>
<div id="message6">xxxxxx</div>

</body>
</html>